body {  
    padding:0px;
    margin:0px;
    /* background-color: #f0fdf4; */
}

.image {
    background-image: url('images/bday.svg');
    background-repeat: repeat-x;
    height: 80vh;
}
h1 {
    margin:2rem 4rem ;
    font-size:4rem;
    color: #075985;
}
.input-output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #075985;
    padding: 2rem;
    /* margin:4rem 1rem 2rem 2rem; */
    width: 50%;
    color: white;
}

#date-of-birth {
    padding: 0.4rem;
}
#lucky-number {
    padding: 0.5rem;
}

#check-number {
    width: 30%;
    align-self: center;
    padding: 0.6rem;
}
